<h1>Books</h1>
   <%= @book.title %>
   <%= @book.body %>
   <% if @book.user == current_user %>
     <%= link_to "Edit", edit_book_path(@book.id) %>
     <%= link_to "Destroy", book_path(@book.id), method: :delete,"data-confirm" => "本当に消しますか？" %>
   <% end %>
