<h1>welcome to <strong>bookers</strong>!!</h1>
<p>In<strong>Bookers</strong>,</p>
<p>you can share and exchange your opinions , inpressinons , and emotions</p>
<p>about various books!</p>

<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Log in", new_user_session_path %>